.App {
  font-family: sans-serif;
  text-align: center;
}
.padding {
  padding: 0.5rem 1rem;
  margin: 0.2rem;
}
.inline {
  display: inline;
}
.center {
  margin: auto;
  margin-bottom: 1rem;
}
.decoration {
  border-radius: 2rem;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: cornflowerblue;
  font-size: 1rem;
}
